.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    width: 100%;
    gap: 10px;
}

.container input {
    padding: 5px;
}

.container button {
    padding: 10px;
}